<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="jp">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <!-- css -->
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>掲示板</title>
</head>
<body>
<div id="head">
    <div id="head-in">
        <h1>掲示板</h1>
    </div>
</div>
<div id="main">
    <div id="main-in">
        <form action="viewer.html" th:attr="action=@{/gather}" th:object="${targetServer}" method="post">
            <div id="reg-box">
                <table id="reg-tbl">
                    <tr>
                        <th>おなまえ</th>
                        <td><input type="text" name="name" th:field="*{name}" value="" class="reg-name"/></td>
                    </tr>
                    <tr>
                        <th>タイトル</th>
                        <td>
                            <input type="text" name="title" th:field="*{title}" value="" class="reg-title"/>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            メッセージ<br/>
                            <textarea name="message" th:field="*{message}" class="reg-com"></textarea>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="投稿" class="reg-btn"/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <!-- List of Messages -->
    <tr th:each="article : ${articles}">
        <div class="bbs-art">
            <h3 th:text="${article.title}">ここにタイトルが表示されます</h3>

            <div class="bbs-com" th:text="${article.message}">
                ここに入力されたコメントが表示されたりします。
            </div>
            <div class="bbs-pan">
                <span th:text="${article.name}">SS01</span>
                <span th:text="${#calendars.format(article.date,'dd MMMM yyyy')}">2015/09/18(Sat) 14:50</span>
                <span th:text="'No.' + ${article.articleId}">No.4</span>
                <!-- <a href="/res?res=4&amp;pg=0" title="返信"><img src="./rep.png" alt="" class="img"/></a> -->
            </div>
        </div>
    </tr>
    <!-- end of List -->
</div>
</body>
</html>
